* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.header,
.footer {
    text-align: center;
    padding: 25px;
    background-color: rgb(221, 221, 221);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.library-container {
    width: 90%;
    height: 90%;
    border: solid 1px black;
    padding: 10px;
    display: grid;
}

.add-btn,
.book-card {
    width: 200px;
    height: 275px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
