* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.header,
.footer {
    text-align: center;
    padding: 25px;
    background-color: rgb(221, 221, 221);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.library-container {
    width: 800px;
    height: 80%;
    border: solid 1px black;
    padding: 10px;
    display: grid;
    grid-auto-columns: 280px;
    grid-auto-rows: auto;
    grid-auto-flow: column;
}

.add-btn {
    padding: 25px 35px;
    margin: 10px;
    background-color: lightgreen;
}

.clear-btn {
    padding: 25px;
    margin: 10px;
    background-color: lightcoral;
}

.book-card {
    width: 200px;
    height: 260px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
